.page {
    display: flex;
    max-width: 1920px;
    min-width: 500px;
    font-family: "Myriad Pro", sans-serif;
}
.column1 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 44%;
    padding: 4% 3% 5% 5%;
}
.column2 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 56%;
    padding: 4% 5% 5% 3%;
    align-items: stretch;
}
.text {
    font-size: 8pt;
    text-align: justify;
}
.block-header {
    display: flex;
    align-items: center;
    padding-bottom: 2%;
}
.block-photo-name {
    text-align: center;
    min-height: 350px;
}
.block-photo-name__photo {
    height: 150px;
    width: 150px;
    border: 1px solid #3f6fb6;
    border-radius: 100%;
    padding: 5px;
}
.block-photo-name__name {
    font-size: 25pt;
    margin: 1% 0 0 0;
}
.block-photo-name__surname {
    font-size: 30pt;
    font-weight: bold;
    margin: 0;
}
.block-photo-name__profession {
    font-size: 12pt;
    font-weight: bold;
    margin: 0;
}
.block-title {
    margin-left: 2%;
    margin-right: 2%;
    font-weight: bold;
    font-size: 20pt;
    color: #3f6fb6;
}
.block-profile {
    min-height: 270px;
}
.block-contact {
    min-height: 250px;
}
.contacts {
    display: flex;
    margin-bottom: 15px;
}
.contact-col-1 {
    float: left;
    min-width: 80px;
    width: 33%;
    vertical-align: text-top;
}
.contact-col-2 {
    float: right;
    width: 66%;
}
.block-skills {
    min-height: 330px;
}
.skills {
    display: block;
    text-align: center;
    max-width: 250px;
    padding-left: 25px;
}
.skills_text {
    padding: 8px 10px 4px 10px;
}
.svg-block {
    height: 15px;
    max-width: 100%;
    text-align: center;
}
.block-education {
    min-height: 500px;
}
.education-list-header {
    color: #3f6fb6;
    font-weight: bold;
    margin-right: 2%;
}
.exp-descript {
    margin-top: 0;
    font-size: 8pt;
}
.block-experience {
    min-height: 400px;
}
.experience-list-header {
    font-weight: bold;
    margin-right: 2%;
}
.block-software {
    min-height: 300px;
    white-space: nowrap;
}
.soft-skills {
    display: inline-block;
    width: 48%;
    max-width: 240px;
    min-width: 140px;
    padding-top: 1%;
    padding-left: 1%;
}
.soft-skills p {
    align-content: center;
    margin: 15px 0 10px 0;
}
.line-photoshop {
    width: 90%;
    height: 10px;    
    background-image: 
    linear-gradient(to right, #3f6fb6 90%, #e6e6e6 90%);
}
.line-illustrator {
    width: 90%;
    height: 10px; 
    background-image:
    linear-gradient(to right, #3f6fb6 80%, #e6e6e6 80%);
}
.line-indesign {
    width: 90%;
    height: 10px; 
    background-image:
    linear-gradient(to right, #3f6fb6 70%, #e6e6e6 70%);
    margin-bottom: 5%;
}
.line-dreamweaver {
    width: 90%;
    height: 10px;
    background-image:
            linear-gradient(to right, #3f6fb6 85%, #e6e6e6 85%);
}
.line-effects {
    width: 90%;
    height: 10px;
    background-image:
            linear-gradient(to right, #3f6fb6 65%, #e6e6e6 65%);
}
.line-htmlcss {
    width: 90%;
    height: 10px;
    background-image:
            linear-gradient(to right, #3f6fb6 90%, #e6e6e6 90%);
    margin-bottom: 5%;
}


